.login-body .button-green {
    font:inherit;
    font-weight: bold;
    text-decoration: none;
    padding:8px 14px;
    width: 140px;
    background:linear-gradient(to bottom, #51d300 0, #42a803 100%);
    border:1px solid #000;
    border-radius:3px;
    cursor:pointer;
    outline:none;
    box-shadow:0 1px 2px #323232;
    color:#fff;
}

.content .button-green {
    font:inherit;
    font-weight: bold;
    text-decoration: none;
    padding:8px 22px;
    min-width: 140px;
    background:linear-gradient(to bottom, #51d300 0, #42a803 100%);
    border:1px solid #205300;
    border-radius:3px;
    cursor:pointer;
    outline:none;
    box-shadow:0 1px 4px #bfbfbf;
    color:#fff;
}

.button-green:hover {
    background:linear-gradient(to bottom,#42a803 0%,#358b00 100%);
}

.button-green:active {
    background:linear-gradient(to bottom,#42a803 0%,#358b00 100%);
    box-shadow:inset 0 5px 9px #2a6d00;
}



.button-grey {
    font:inherit;
    font-weight: bold;
    text-decoration: none;
    padding:8px 22px;
    background:linear-gradient(to bottom, #fff 0, #eee 100%);
    border:1px solid #b5b5b5;
    border-radius:3px;
    cursor:pointer;
    outline:none;
    box-shadow:0 2px 3px #e2e2e2;
    color:#444;
}

.button-grey:hover {
    background:linear-gradient(to bottom,#eee 0%,#e6e6e6 100%);
    color:#000;
}

.button-grey:active {
    background:linear-gradient(to bottom,#eee 0%,#e6e6e6 100%);
    box-shadow:inset 0 5px 9px #d0d0d0;
    color:#000;
}



.button-red {
    font:inherit;
    font-weight: bold;
    text-decoration: none;
    padding:8px 22px;
    background:linear-gradient(to bottom, #f84848 0, #ed1313 100%);
    border:1px solid #b00000;
    border-radius:3px;
    cursor:pointer;
    outline:none;
    box-shadow:0 2px 3px #e2e2e2;
    color:#eee;
}

.button-red:hover {
    background:linear-gradient(to bottom, #ed1313 0, #c40000 100%);
    color:#fff;
}

.button-red:active {
    background:linear-gradient(to bottom, #ed1313 0, #fe2828 100%);
    box-shadow:inset 0 5px 9px #b00000;
    color:#fff;
}



.button-add {
    background:linear-gradient(to bottom,#fff 0%,#eee 100%) !important;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    color: #000 !important;
    box-shadow:0 2px 3px #242424;
    transition: none !important;
}

.button-add:hover {
    background:linear-gradient(to bottom, #e9e8e8 0, #dddddd 100%) !important;
}

.button-add:active {
    background:linear-gradient(to bottom, #eee 0, #e6e6e6 100%) !important;
    box-shadow:inset 0 5px 9px #bababa !important;
}